@page "/affinity-diagram"

@using KRH_UNI.github.io.Data

<h1>Affinity Diagram</h1>
            
<a href="/static/NG_Affinity_Diagram.pdf">Come see my Affinity Diagram</a>
<br />
<br />
<img src="/static/NG_Affinity_Diagram.PNG" />
