@page "/problem-statement"

<h1>Problem Statement</h1>

<a href="/static/NG_Food_Finder_Problem_Statement.pdf">Come see my Problem Statements</a>
<br />
<br />
<img src="/static/NG_Food_Finder_Problem_Statement.PNG" />
